<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<title></title>
	<script type="text/javascript" src="test/juicer.js"></script>
	<script type="text/javascript" src="test/artTemplate.js"></script>
	<!-- // <script type="text/javascript" src="src/fastpl.js"></script> -->
	<script type="text/javascript" src="build/fastpl-min.js"></script>
</head>
<body>
	<a rel="useZoom: 'zoom1', smallImage: 'images/s1.jpg'" id="relE"></a>
	<script type="text/javascript">
console.log( document.getElementById( 'relE' ).attributes['rel'])
		// new Function("return {" + document.getElementById( 'relE' ).attributes('rel') + "}")();
	</script>
	<div>
		<pre>
		<code>
var numData = {
	skills: ["js", "html", "css",[1,2,3,4]],
	'num':[11,12,13,14],
	'img': 'http://www.baidu.com/img/baidu_jgylogo3.gif?v=17058940.gif&',
	obj: {
		name: 'hello',
		age: 18
	},
	dateTime: '2014-12-1 14:55:23',
	number: 1234567
}
		</code>
		</pre>
	</div>
	<div id="test"></div>
	<script type="text/fastpl" id="tpl">
		<div>My skills:
		<!--<p>
		${numbers || '没有numbers' }
		${obj.names || '没有obj.names' }-->
		</p>
		<p>
			日期：${dateTime | date_format:'yyyy-MM-dd EEE' }
		</p>
		<p>
			货币：${number | number_format }
		</p>

		<p>
		0-9的循环：
		{{for i(0,10)}}
			<a href="#"> ${ i } </a>
		{{/for}}
		</p>

		<p>
		数组循环：
		{{for num(v,i) }}
			<a href="#"> ${ v } </a>
		{{/for}}
		</p>

		<p>
		多层数组循环：
		{{for skills(v,i)}}
			{{if i==3}}
				{{for skills[i]}}
					<a href="#"> ${ v } </a>
				{{/for}}
			{{else}}
				<a href="#"> ${ v } </a>
			{{/if}}
		{{/for}}
		</p>

		<p>
		对象循环：
		{{for obj(v,i) }}
		${obj|count}
			<a href="#"> ${ i }: ${ v }  </a>
		{{/for}}
		</p>

		<p>
		默认变量输出：
		{{for num}}
			<div>
			<a href="#"> **** ${ v }</a>
			{{for skills}}
				<a href="#"> ${ v }</a>
			{{/for}}
			</div>
		{{/for}}
		</p>

		判断：
		{{ if !num }}
			<p>if</p>
		{{ else if num != false }}
			<p>elseif!</p>
		{{/if }}

		{{ if num && num!=false }}
			<p>elseif&!</p>
		{{/if }}

		{{ if num || 3%3=='0' }}
			<p>elseif%</p>
		{{/if }}

		{{ if obj.sex }}
			<p>elseif%</p>
		{{else}}
			<p>obj is not exist sex</p>
		{{/if }}

		图片：
		<img src="${img}"/>
		</div>
	</script>

	<script type="text/tpl" id="easy">

		{{ if !num }}
			<p>if</p>
		{{ else if num != false }}
			<p>elseif!</p>
			<img src="${img}"/>
		{{/if }}
	</script>

	<script type="text/tpl" id="ju">
		<div>My skills:
		{@each i in range(0, 5)}
			<a href="#"> ${ i } </a>
			{{@if i==3}}
			{{@/if}}
		{@/each}
		{{@each obj as item}}
			{{item.name}}
		{{@/each}}
		</div>
	</script>

	<script type="text/tpl" id="testtpl">
		{{each skills as v i}}
			{{if i==3}}
				{{each skills[i]}}
					<a href="#"> {{ $value }} </a>
				{{/each}}
			{{else}}
				<a href="#"> {{ v }} </a>
			{{/if}}
		{{/each}}
		{{each obj}}
			{{obj.name}}
		{{/each}}
		{{each skills as v i}}
			<a href="#"> {{ v }} </a>
		{{/each}}
	</script>
	<script>


var data = {
	skills: ["js", "html", "css",[1,2,3,4]],
	showSkills: true,
	obj: {
		name: 'json'
	}
}
function parseToDOM(str){
   var div = document.createElement("div");
   if(typeof str == "string")
       div.innerHTML = str;
   return div.childNodes;
}
// new Function( newTpl.replace(/[\r\t\n]/g,'') ).apply(data);

function append(nodeList){
	for(var index = 0,len = nodeList.length; index < len; index++){
		var node = nodeList[ index ];
		document.getElementsByTagName( 'body' )[0].appendChild( node );
	}
}
var numData = {
	skills: ["js", "html", "css",[1,2,3,4]],
	'num':[11,12,13,14],
	'img': 'http://www.baidu.com/img/baidu_jgylogo3.gif?v=17058940.gif&',
	obj: {
		name: 'hello',
		age: 18
	},
	dateTime: '2014-12-1 14:55:23',
	number: 1234567
}

fasTpl.tools({
	name: function(){},
	init: function(){return 1;}
})
fasTpl.tools('toString', function(){
	
})
console.log( fasTpl.getTools() );

var newTpl1 = fasTpl( document.getElementById( 'tpl' ).innerHTML ),
	html = newTpl1.render(numData);

// var newTpl2 = fasTpl( document.getElementById( 'tpl' ).innerHTML ),
// 	html2 = newTpl2.render(numData);
document.getElementById( 'test' ).appendChild( document.createTextNode(html));

append( parseToDOM( html ) );

// template('testtpl', data);

// var startDate1 = new Date().getTime();
// juicer(document.getElementById( 'ju' ).innerHTML, data);
// var endDate1 = new Date().getTime();
// console.log( endDate1 - startDate1 )

// var newTpl2 = fasTpl( document.getElementById( 'newtpl' ).innerHTML ),
// 	html2 = newTpl2.render(data);
// append( parseToDOM( html2 ) );
	// console.log(
	// 	TemplateEngine(document.getElementById( 'tpl' ).innerHTML, {
	// 		skills: ["js", "html", "css"],
	// 		showSkills: true
	// 	})
	// );

// ;!function(win){
// "use strict";

// var config = {
//     open: '{{',
//     close: '}}'
// };

// var tool = {
//     exp: function(str){
//         return new RegExp(str, 'g');
//     },
//     //匹配满足规则内容
//     query: function(type, _, __){
//         var types = [
//             '#([\\s\\S])+?',   //js语句
//             '([^{#}])*?' //普通字段
//         ][type || 0];
//         return exp((_||'') + config.open + types + config.close + (__||''));
//     },   
//     escape: function(html){
//         return String(html||'').replace(/&(?!#?[a-zA-Z0-9]+;)/g, '&amp;')
//         .replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/'/g, '&#39;').replace(/"/g, '&quot;');
//     },
//     error: function(e, tplog){
//         var error = 'Laytpl Error：';
//         typeof console === 'object' && console.error(error + e + '\n'+ (tplog || ''));
//         return error + e;
//     }
// };

// var exp = tool.exp, Tpl = function(tpl){
//     this.tpl = tpl;
// };

// Tpl.pt = Tpl.prototype;

// //核心引擎
// Tpl.pt.parse = function(tpl, data){
//     var that = this, tplog = tpl;
//     var jss = exp('^'+config.open+'#', ''), jsse = exp(config.close+'$', '');
    
//     tpl = tpl.replace(/[\r\t\n]/g, ' ').replace(exp(config.open+'#'), config.open+'# ')
//     .replace(exp(config.close+'}'), '} '+config.close).replace(/\\/g, '\\\\')
//     .replace(/(?="|')/g, '\\').replace(tool.query(), function(str){
//         str = str.replace(jss, '').replace(jsse, '');
//         return '";' + str.replace(/\\/g, '') + '; view+="';
//     }).replace(tool.query(1), function(str){
//         var start = '"+(';
//         if(str.replace(/\s/g, '') === config.open+config.close){
//             return '';
//         }
//         str = str.replace(exp(config.open+'|'+config.close), '');
//         if(/^=/.test(str)){
//             str = str.replace(/^=/, '');
//             start = '"+_escape_(';
//         }
//         return start + str.replace(/\\/g, '') + ')+"';
//     });
    
//     tpl = '"use strict";var view = "' + tpl + '";return view;';
//     console.log(tpl);
//     try{
//         that.cache = tpl = new Function('d, _escape_', tpl);
//         return tpl(data, tool.escape);
//     } catch(e){
//         delete that.cache;
//         return tool.error(e, tplog);
//     }
// };

// Tpl.pt.render = function(data, callback){
//     var that = this, tpl;
//     if(!data) return tool.error('no data');
//     tpl = that.cache ? that.cache(data, tool.escape) : that.parse(that.tpl, data);
//     if(!callback) return tpl;
//     callback(tpl);
// };

// var laytpl = function(tpl){
//     if(typeof tpl !== 'string') return tool.error('Template not found');
//     return new Tpl(tpl);
// };

// laytpl.config = function(options){
//     options = options || {};
//     for(var i in options){
//         config[i] = options[i];
//     }
// };

// laytpl.v = '1.1';

// "function" == typeof define ? define(function() {
//     return laytpl
// }) : "undefined" != typeof exports ? module.exports = laytpl : window.laytpl = laytpl

// }();

// console.log( laytpl( document.getElementById( 'tpl' ).innerHTML ).render({
// 	skills: ["js", "html", "css"],
// 	showSkills: true
// })
// )

	</script>
</body>
</html>